@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --borderRadius: 10px;
  --borderRadiusS: 10px;
  --heightHeader: 70px;
  /* --backgroundColor_body:#bb1919; */
  --backgroundColor_header: #2e2d2d;
  --backgroundColor_form: #808080;
  --fontColor_Aa: #ffffff;
  --border: 1px solid gray;
}

header {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: var(--heightHeader);
  width: 100%;
  background-color: var(--backgroundColor_header);
}

body {
  direction: rtl;
  font-family: "Rubik", sans-serif;
  background-image: url("images/background.jpeg");
  height: max-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

form {
  background-color: var(--backgroundColor_form);
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 0;
  padding: 0 10px;
  border: var(--border);
  border-radius: 20px;
  margin-top: 90px;
}

select {
  height: 30px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: var(--border);
}
select:not(:-internal-list-box) {
  overflow: visible !important;
}
option {
  height: 30px;
  width: 80.02%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: var(--border);
}
.nameUser {
  height: 100%;
  width: 10%;
  float: left;
  display: flex;
  align-items: center;
}
.nameUser strong {
  display: flex;
  align-items: center;
  counter-reset: section;
}
.nameUser ins {
  display: flex;
  align-items: center;
  counter-reset: section;
}
.logo {
  height: 100%;
  float: left;
}
.menu {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;

  /*text-align: right;padding: 30px;*/
}
nav {
  flex: 1;
  text-align: center;
}

nav ul {
  padding: 2px;
}

nav ul li {
  display: inline-block; /*התפריט בשורה אחד*/
  /*line-height: var(--heightHeader);*/
}

nav ul li a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: var(--fontColor_Aa);
  padding: 3px 5px;
  border-radius: 3px;
}
a.active,
a:hover {
  background: cyan;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: "white";
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  right: 0;
  display: none;
}
section {
  background-image: url("images/background.jpeg");
  height: max-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.aR {
  color: rgb(255, 0, 0);
}
.aG {
  color: rgb(0, 255, 0);
}
.aB {
  color: rgb(0, 0, 255);
}
p {
  color: var(--fontColor_Aa);
}
h2 {
  color: var(--fontColor_Aa);
  text-align: center;
  /* margin-bottom: 40px; */
}

/* TABLE */

.h2 {
  color: var(--fontColor_Aa);
  text-align: center;
  /* margin-bottom: 40px; */
}
.search-filter {
  width: 400px;
  margin: 10px 10px;
}

.input-search input {
  height: 30px;
  width: 80.02%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: var(--border);
}
.input-search button {
  height: 30px;
  width: 18%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: var(--border);
}
.table {
  border-collapse: collapse;
  width: -webkit-fill-available;
  margin: 10px 10px;
}
.table thead {
  background-color: rgb(88, 106, 204);
}
.table thead tr th {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  vertical-align: top;
  padding: 12px;
  border: 1px solid #dddd;
  text-align: center;
  opacity: 1;
}
.table tbody tr td {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.35px;
  background-color: rgb(217, 219, 228);
  padding: 8px;
  text-align: center;
  border: 1px solid rgba(15, 15, 15, 0.867);
}

/* END TABLE */

/* BUTTON */

.btn {
  display: inline-block;
  background: RoyalBlue;
  color: white;
  padding: 8px 15px;
  /* margin: 10px 0; */
  border-radius: 20px;
  outline: none;
  border: none;
}
.btn:hover {
  background-color: Blue;
  box-shadow: 0 0.5em 0.5em -0.4em royalblue;
}
.update-btn {
  display: inline-block;
  background: rgb(78, 230, 40);
  color: white;
  padding: 8px 15px;
  margin: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
}

.update-btn:hover {
  background-color: green;
  box-shadow: 0 0.5em 0.5em -0.4em green;
}
/*END BUTTON */

.about-text {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 25px;
  padding-right: 120px;
  margin-top: 230px;
}

.about-text p {
  color: black;
}

.about-text h2 {
  color: black;
}

.input-group {
  margin: 10px 0px 10px 0px;
}

.input-search {
  margin: 10px 0px 10px 0px;
}
.input-search label {
  margin: 3px;
}
.search-filter {
  width: 400px;
  margin: 10px 10px;
}

.input-search input {
  height: 30px;
  width: 80.02%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: var(--border);
}
.input-search button {
  height: 30px;
  width: 18%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: var(--border);
}

.input-group label {
  margin: 3px;
}

.input-group input {
  height: 30px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: var(--border);
}
.input-text {
  margin: 10px 0px 10px 0px;
}

.input-text label {
  margin: 3px;
}

.input-text input {
  height: 30px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: var(--border);
}

.error {
  width: 92%;
  padding: 5px;
  color: red;
  border-radius: 2px;
  text-align: left;
}

textarea {
  font-weight: bold;
  border-radius: 5px;
  border: var(--border);
  width: 100%;
  resize: none;
  font-size: 16px;
}

@media (max-width: 1032px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 15%;
    height: auto;
    background: #2c3e50;
    top: var(--heightHeader);
    right: -100%;
    text-align: right;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 10px;
  }
  nav ul li a {
    font-size: 10px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    right: 0;
  }
  section {
    background-image: url("images/background.jpeg");
    background-size: cover;
    height: calc(100vh - 80px);
  }
}
@media (max-width: 681px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    height: auto;
    background: #2c3e50;
    top: var(--heightHeader);
    right: -100%;
    text-align: right;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 15px 0;
    line-height: 10px;
  }
  nav ul li a {
    font-size: 7px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    right: 0;
  }
  section {
    background-image: url("images/background.jpeg");
    background-size: cover;
    height: calc(100vh - 80px);
  }
}
@media (max-width: 414px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 15%;
    height: auto;
    background: #2c3e50;
    top: var(--heightHeader);
    right: -100%;
    text-align: right;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
    line-height: 10px;
  }
  nav ul li a {
    font-size: 7px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    right: 0;
  }
  section {
    background-image: url("images/background.jpeg");
    background-size: cover;
    height: calc(100vh - 80px);
  }
}
@media (max-width: 768px) {
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: -webkit-fill-available;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .table tbody tr td {
    text-align: left;
    padding-right: 50%;
    position: relative;
  }
  table td::before {
    content: attr(data-label);
    position: absolute;
    width: 50%;
    right: 0;
    text-align: right;
    padding-right: 15px;
    font-weight: 600;
    font-size: 14px;
  }
}
